<div id="header" class="general-container">

  <div class="row-cols-1 border-boxes text-center">
    <h4>Türkiye içindeki Coronavirus (COVID-19) İstatistikleri</h4>
  </div>

  <div class="row count-boxes-container">
    <div id="infectedCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam Vaka</h4>
        <h2 class="infected-count-color">670</h2>
      </div>
    </div>

    <div id="deadCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam Ölüm</h4>
        <h2 class="dead-count-color">9</h2>
      </div>
    </div>

    <div id="recoveredCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam İyileşme</h4>
        <h2 class="recovered-count-color">0</h2>
      </div>
    </div>
  </div>
</div>

<div id="content" class="general-container">
  <div class="row">

    <div id="left-content" class="col-3 text-center">
      <div class="border-boxes mb-2">
        <h3 class="mt-2 font-weight-bolder">Dünyadaki durum</h3>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam vaka sayısı</span>
        <span class="infected-count-color world-count-normal">276,987</span>

        <div class="world-text-description">
          <span>Yani, vakası olan her ülkeye ortalama </span>
          <span class="important-text-color world-count-description">1669 kişi</span>
          <span> düşüyor!</span>
        </div>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam ölüm sayısı</span>
        <span class="dead-count-color world-count-normal">11,423</span>

        <div class="world-text-description">
          <span>Her 100 hastadan </span>
          <span class="important-text-color world-count-description">4 kişi</span>
          <span> ölüyor! Bunların neredeyse tamamı </span>
          <span class="important-text-color world-count-description">yaşlılar.</span>
        </div>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam iyileşme</span>
        <span class="recovered-count-color world-count-normal">91,986</span>

        <div class="world-text-description">
          <span>Her 100 hastadan </span>
          <span class="important-text-color world-count-description">33 kişi</span>
          <span> iyileşti. Bunların büyük bölümü </span>
          <span class="important-text-color world-count-description">gençler.</span>
        </div>
      </div>

      <div class="border-boxes">
        <span class="world-count-text font-weight-bold">Ülke sayısı</span>
        <span class="other-count-color world-count-normal">166</span>
        <span class="total-world-count"> / 195</span>
        <div class="world-text-description">
          <span>Yani, vakalar neredeyse her yerde var. </span>
          <span class="important-text-color world-count-description">Hepimiz önlem almalıyız!</span>
        </div>
      </div>
    </div>

    <div id="middle-content" class="col-6">

      <ul class="nav nav-pills row text-center mb-2">
        <li (click)="changeTab('country')"
            [ngClass]="isActiveTab('country')" class="nav-item col-3 border-boxes tab-boxes fade-tabs">
          <a class="nav-link" data-toggle="pill">Ülke</a>
        </li>
        <li (click)="changeTab('world')"
            [ngClass]="isActiveTab('world')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link"
                                                                                                        data-toggle="pill">Dünya</a></li>
        <li (click)="changeTab('comparisons')"
            [ngClass]="isActiveTab('comparisons')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link" data-toggle="pill">Karşılaştırma</a>
        </li>
        <li (click)="changeTab('map')"
            [ngClass]="isActiveTab('map')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link"
                                                                              data-toggle="pill">Harita</a></li>
      </ul>

      <div class="tab-content">
        <div *ngIf="isActiveTab('country')" id="country" role="tabpanel">
          <div echarts [options]="countryChartOption" theme="dark" loading="true"></div>
        </div>
        <div *ngIf="isActiveTab('world')" id="world" role="tabpanel">
          <div echarts [options]="worldChartOption" theme="dark" loading="true"></div>
        </div>
        <div *ngIf="isActiveTab('comparisons')" id="comparisons" role="tabpanel">
          <div echarts [options]="countryChartOption" theme="dark" loading="true"></div>
        </div>
        <div *ngIf="isActiveTab('map')" id="map" role="tabpanel">
          <div echarts [options]="worldMapOption" theme="dark" loading="true"></div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">Vakalar</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="infected-count-color country-count-normal">46.41</span>
              <span class="infected-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>

        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">Ölümler</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="dead-count-color country-count-normal">46.41</span>
              <span class="dead-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>

        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">İyileşmeler</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="recovered-count-color country-count-normal">46.41</span>
              <span class="recovered-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="right-content" class="col-3 text-center">
      <div class="border-boxes">
        <h3>AYARLAR
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </h3>
      </div>
    </div>
  </div>
</div>

<div id="footer">

</div>
<router-outlet></router-outlet>
