<div id="header" class="general-container">

  <div class="row-cols-1 border-boxes text-center">
    <h4>{{selectedCountry}} içindeki Coronavirus (COVID-19) İstatistikleri</h4>
  </div>

  <div class="row count-boxes-container">
    <div id="infectedCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam Vaka</h4>
        <h2 class="infected-count-color">670</h2>
      </div>
    </div>

    <div id="deadCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam Ölüm</h4>
        <h2 class="dead-count-color">9</h2>
      </div>
    </div>

    <div id="recoveredCount" class="col-4 text-center">
      <div class="border-boxes">
        <h4>Toplam İyileşme</h4>
        <h2 class="recovered-count-color">0</h2>
      </div>
    </div>
  </div>
</div>

<div id="content" class="general-container">
  <div class="row">

    <div id="left-content" class="col-3 text-center">
      <div class="border-boxes mb-2">
        <h3 class="mt-2 font-weight-bolder">Dünyadaki durum</h3>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam vaka sayısı</span>
        <span class="infected-count-color world-count-normal">276,987</span>

        <div class="world-text-description">
          <span>Yani, vakası olan her ülkeye ortalama </span>
          <span class="important-text-color world-count-description">1669 kişi</span>
          <span> düşüyor!</span>
        </div>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam ölüm sayısı</span>
        <span class="dead-count-color world-count-normal">11,423</span>

        <div class="world-text-description">
          <span>Her 100 hastadan </span>
          <span class="important-text-color world-count-description">4 kişi</span>
          <span> ölüyor! Bunların neredeyse tamamı </span>
          <span class="important-text-color world-count-description">yaşlılar.</span>
        </div>
      </div>

      <div class="border-boxes mb-2">
        <span class="world-count-text font-weight-bold">Toplam iyileşme</span>
        <span class="recovered-count-color world-count-normal">91,986</span>

        <div class="world-text-description">
          <span>Her 100 hastadan </span>
          <span class="important-text-color world-count-description">33 kişi</span>
          <span> iyileşti. Bunların büyük bölümü </span>
          <span class="important-text-color world-count-description">gençler.</span>
        </div>
      </div>

      <div class="border-boxes">
        <span class="world-count-text font-weight-bold">Ülke sayısı</span>
        <span class="other-count-color world-count-normal">166</span>
        <span class="total-world-count"> / 195</span>
        <div class="world-text-description">
          <span>Yani, vakalar neredeyse her yerde var. </span>
          <span class="important-text-color world-count-description">Hepimiz önlem almalıyız!</span>
        </div>
      </div>
    </div>

    <div id="middle-content" class="col-6">

      <ul class="nav nav-pills row text-center mb-2">
        <li (click)="changeTab('country')"
            [ngClass]="isActiveTab('country')" class="nav-item col-3 border-boxes tab-boxes fade-tabs">
          <a class="nav-link" data-toggle="pill">Ülke</a>
        </li>
        <li (click)="changeTab('world')"
            [ngClass]="isActiveTab('world')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link" data-toggle="pill">Dünya</a>
        </li>
        <li (click)="changeTab('comparisons')"
            [ngClass]="isActiveTab('comparisons')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link" data-toggle="pill">Karşılaştırmalar</a>
        </li>
        <li (click)="changeTab('map')"
            [ngClass]="isActiveTab('map')" class="nav-item col-3 border-boxes tab-boxes fade-tabs"><a class="nav-link"
                                                                                                      data-toggle="pill">Harita</a>
        </li>
      </ul>

      <div class="tab-content">
        <div *ngIf="isActiveTab('country')" id="country" role="tabpanel">
          <app-country-tab></app-country-tab>
        </div>
        <div *ngIf="isActiveTab('world')" id="world" role="tabpanel">
          <app-world-tab></app-world-tab>
        </div>
        <div *ngIf="isActiveTab('comparisons')" id="comparisons" role="tabpanel">
          <app-comparisons-tab></app-comparisons-tab>
        </div>
        <div *ngIf="isActiveTab('map')" id="map" role="tabpanel">
          <app-map-tab></app-map-tab>
        </div>
      </div>

      <div class="row mt-3">
        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">Vakalar</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="infected-count-color country-count-normal">46.41</span>
              <span class="infected-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>

        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">Ölümler</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="dead-count-color country-count-normal">46.41</span>
              <span class="dead-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>

        <div class="border-boxes col-4">
          <span class="country-count-title font-weight-bold text-center">Günlük değişim</span>
          <span class="country-count-text text-center">İyileşmeler</span>
          <div class="row">
            <div class="col-6">
              <span class="world-count-description">Yüzdelik: </span>
              <span class="world-count-description">Katlık:</span>
            </div>
            <div class="col-6">
              <span class="recovered-count-color country-count-normal">46.41</span>
              <span class="recovered-count-color country-count-normal">1.88</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="right-content" class="col-3 text-center">
      <div class="border-boxes">
        <h3 class="font-weight-bolder">Ayarlar</h3>
      </div>

      <div class="border-boxes mt-2">
        <div *ngIf="isActiveTab('country')" id="country-settings">
          <form>
            <label for="country-select" class="world-count-text">Seçili ülke</label>
            <select class="form-control mt-2 select-box" id="country-select" name="country-select"
                    [(ngModel)]="selectedCountry" (ngModelChange)="chooseCountry(selectedCountry)">
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
          </form>
          <form>
            <label for="world-graph-select2" class="world-count-text">Seçili grafik türü</label>
            <select class="form-control mt-2 select-box" id="world-graph-select2" name="world-graph-data-select"
                    [(ngModel)]="selectedGraphType">
              <option *ngFor="let data of graphTypes" [value]="data">{{data}}</option>
            </select>
          </form>
          <form>
            <label for="world-graph-select3" class="world-count-text">Minimum Vaka sayısı</label>
            <select class="form-control mt-2 select-box" id="world-graph-select3" name="world-graph-data-select"
                    [(ngModel)]="selectedMinimumCase">
              <option *ngFor="let data of minimumCases" [value]="data">{{data}}</option>
            </select>
          </form>
        </div>
        <div *ngIf="isActiveTab('world')" id="world-settings">
          <form>
            <label for="country-select" class="world-count-text">Seçili bölge</label>
            <select class="form-control mt-2 select-box" id="world-select" name="country-select"
                    [(ngModel)]="selectedCountry" (ngModelChange)="chooseCountry(selectedCountry)">
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
          </form>
          <form>
            <label for="world-graph-select2" class="world-count-text">Seçili grafik türü</label>
            <select class="form-control mt-2 select-box" id="world-graph-select4" name="world-graph-data-select"
                    [(ngModel)]="selectedGraphType">
              <option *ngFor="let data of graphTypes" [value]="data">{{data}}</option>
            </select>
          </form>
          <form>
            <label for="world-graph-select3" class="world-count-text">Minimum Vaka sayısı</label>
            <select class="form-control mt-2 select-box" id="world-graph-select5" name="world-graph-data-select"
                    [(ngModel)]="selectedMinimumCase">
              <option *ngFor="let data of minimumCases" [value]="data">{{data}}</option>
            </select>
          </form>
        </div>
        <div *ngIf="isActiveTab('comparisons')" id="comparisons-settings">
          <form>

            <label class="world-count-text">Seçili Ülkeler</label>
            <ng-multiselect-dropdown
              [placeholder]="'custom placeholder'"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
              name="world-country-select">
            </ng-multiselect-dropdown>
          </form>
          <form>
            <label for="world-graph-data-select" class="world-count-text">Seçili istatistik</label>
            <select class="form-control mt-2 select-box" id="world-graph-data-select" name="world-graph-data-select"
                    [(ngModel)]="selectedWorldOption">
              <option *ngFor="let data of worldDataOptions" [value]="data">{{data}}</option>
            </select>
          </form>
          <form>
            <label for="world-graph-data-select" class="world-count-text">Seçili grafik türü</label>
            <select class="form-control mt-2 select-box" id="world-graph-select" name="world-graph-data-select"
                    [(ngModel)]="selectedGraphType">
              <option *ngFor="let data of graphTypes" [value]="data">{{data}}</option>
            </select>
          </form>
        </div>
        <div *ngIf="isActiveTab('map')" id="map-settings">
          <label for="world-graph-data-select" class="world-count-text">Seçili istatistik</label>
          <select class="form-control mt-2 select-box" id="world-graph-data-select-2" name="world-graph-data-select"
                  [(ngModel)]="selectedWorldOption">
            <option *ngFor="let data of worldDataOptions" [value]="data">{{data}}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="footer" class="footer border-boxes">
  <div class="row">
    <div class="col-7 pl-4">
      Tüm hakları saklıdır. ©2020 Burada gösterilen veriler, sadece bilgilendirme amaçlıdır.
      <br>
      Veriler anlık güncellenmektedir.
      <span class="text-right">Son güncelleme: 20/03/2020 - 23:12:42</span>
    </div>
    <div class="col-5 text-right pr-4">
      COVID-2019 istatistik ekranı, <a href="http://edizzy.com" target="_blank">edizzy</a> tarafından yapılmıştır.
      <br>
      Sunucunun masraflarını karşılamama destek olmak için: <a href="#">link</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
